* {
  transition: all 0.1s linear;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}
.controls {
  display: flex;
  justify-content: center;
}
.randomize {
  width: 100px;
  margin: 20px 10px;
  cursor: pointer;
  transition: all 0.1s linear;
  &.is-active {
  	background: grey;
  	color: white;
  }
  &:hover {
    background: grey;
  }
  &:focus {
  	outline: 0;
  }
}