/* colors */
.sub-toolbar {
  display: inline-block;
  width: 200px; }

.sub-button {
  border-bottom: 1px solid #fff;
  cursor: pointer;
  margin: 10px;
  height: 25px;
  padding-left: 10px;
  text-align: left;
  transition: all 0.1s linear;
  width: 1px; }
  .sub-button.is-active {
    border-bottom: 1px solid #000;
    padding-left: 5px;
    transition: all 0.25s linear;
    width: 100%; }
  .sub-button:after {
    content: '-';
    margin-left: 10px;
    opacity: 0.01; }
  .sub-button.is-active:after {
    opacity: 1; }
