@import './variables.scss';

.sub-toolbar {
  display: inline-block;
  width: 200px;
}

.sub-button {
  border-bottom: 1px solid $white;
  cursor: pointer;
  margin: 10px;
  height: 25px;
  padding-left: 10px;
  text-align: left;
  transition: all 0.1s linear;
  width: 1px;

  &.is-active {
    border-bottom: 1px solid $black;
    padding-left: 5px;
    transition: all 0.25s linear;
    width: 100%;
  }

  &:after {
    content: '-';
    margin-left: 10px;
    opacity: 0.01;
  }

  &.is-active:after {
    opacity: 1;
  }
}
